root = true

[*.{pas,dpr,dpk,inc}]
charset = utf-8-bom
end_of_line = crlf
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = space
indent_size = 2
max_line_length = 180

[*.{md,py,ps1,cmd,json}]
charset = utf-8
insert_final_newline = true
trim_trailing_whitespace = true
