# Delphi outputs
__history/
__recovery/
_dcu/
_pak/
_bin/
*.dcu
*.dcp
*.bpl
*.map
*.tds
*.local
*.identcache
*.stat
*.otares
*.dsv
*.dsk
*.~dsk

# Generated build output
Build/Delphi/
Build/FPC/

# Python
__pycache__/
*.pyc

# Free Pascal / Lazarus outputs
Packages/lib/
backup/
*.ppu
*.o
*.or
*.compiled
*.lps
