# Delphi outputs
__history/
__recovery/
_dcu/
_pak/
_bin/
*.dcu
*.dcp
*.bpl
*.map
*.tds
*.local
*.identcache
*.stat
*.otares
*.dsv
*.dsk
*.~dsk

# Generated build output
Build/Delphi/

# Python
__pycache__/
*.pyc
